@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #171717;
  --gold: #c19a5b;
  --gold-dark: #a37e41;
  --color-brown: #25211d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-gold-dark: var(--gold-dark);
  --color-brown: var(--color-brown);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-unbounded: var(--font-unbounded);
  --font-michroma: var(--font-michroma);
  --font-geo: var(--font-geo);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
