@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #171717;
  --gold: #c19a5b;
  --gold-dark: #a37e41;
  --color-brown: #25211d;
  --silver: #a1a1a1;
  --gun-metal-gray: #818589;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-gold-dark: var(--gold-dark);
  --color-brown: var(--color-brown);
  --color-silver: var(--silver);
  --color-gun-metal-gray: var(--gun-metal-gray);
  --font-deltha: var(--font-deltha);
  --font-environment: var(--font-environment);
  --font-poppins: var(--font-poppins);
  --font-heading: var(--font-deltha);
  --font-paragraph: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  .yarl__container {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}

.exclusive-text {
  font-family: var(--font-environment);
  font-weight: 700; /* use 400 for regular, 700 for bold */
  font-style: normal; /* or italic if needed */
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
